@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("././assets/3436600.jpg");
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-attachment: fixed; /* Fixes the background image in place */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center center; /* Centers the background image both horizontally and vertically */
  }
  