@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.bg{
    background-image: url("././assets/3436600.jpg");
    height: 100%;
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-attachment: fixed; /* Fixes the background image in place */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center center; /* Centers the background image both horizontally and vertically */
  }
  
  /* Add this CSS to your stylesheet */
@keyframes flyingProduct {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, -100px);
    opacity: 0;
  }
}

.animate-flying-product {
  animation: flyingProduct 1s ease-in-out forwards;
}
