@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.bg{
    background-image: url("././assets/3436600.jpg");
    height: 100%;
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-attachment: fixed; /* Fixes the background image in place */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-position: center center; /* Centers the background image both horizontally and vertically */
  }
  
  /* Add this CSS to your stylesheet */
/* Add this CSS to your stylesheet */
.mySwiper {
  slidesPerView: 3; /* Default for larger screens */
  spaceBetween: 30px;
}

@media (max-width: 768px) {
  .mySwiper {
      slidesPerView: 2; /* 2 slides per view on screens up to 768px wide */
  }
}

@media (max-width: 480px) {
  .mySwiper {
      slidesPerView: 1; /* 1 slide per view on screens up to 480px wide */
  }
}